body {
	overflow-x: hidden;
}
body.noscroll{
	overflow-y: hidden;
}
.mobile{
	display: none;
}
.menu{
	position: relative;
	display: none;
	justify-content: flex-start;
	align-items: center;
	width: 30px;
	height: 20px;
	cursor: pointer;
	transition: all .5s ease-in-out;
	margin: auto 0 auto auto;
	/* border: 3px solid #fff; */
}
.menu-burger{
	height: 3px;
	width: 100%;
	background: #fff;
	border-radius: 5px;
	box-shadow: none;
	margin-left: auto;
	transition: all .3s ease-in-out;
}
.menu-burger::before,
.menu-burger::after{
	content: '';
	position: absolute;
	height: 3px;
	width: 100%;
	right: 0;
	background: #fff;
	border-radius: 5px;
	transition: all .3s ease-in-out;
}
.menu-burger::before{
	top: 0;
}
.menu-burger::after{
	bottom: 0;
}
.menu.active .menu-burger{
	background: transparent;
}
.menu.active .menu-burger::before {
	-webkit-transform: translateY(9px) rotate(45deg);
	-moz-transform: translateY(9px) rotate(45deg);
	-ms-transform: translateY(9px) rotate(45deg);
	-o-transform: translateY(9px) rotate(45deg);
	transform: translateY(9px) rotate(45deg);
	background: #fff;
}
.menu.active .menu-burger::after{
	-webkit-transform: translateY(-9px) rotate(-45deg);
	-moz-transform: translateY(-9px) rotate(-45deg);
	-ms-transform: translateY(-9px) rotate(-45deg);
	-o-transform: translateY(-9px) rotate(-45deg);
	transform: translateY(-9px) rotate(-45deg);
	background: #fff;
}
.menu-page{
	position: absolute;
	width: 100%;
	min-height: 100%;
	padding: 20px; 
	background: #5725CB;
	z-index: 100;
	display: none;
	align-items: center;
}
.overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .3);
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.about {
	padding: 120px 0;
}
.events {
	background: #5725CB;
	padding: 80px 0 120px 0;
}
.quote {
	display: flex;
}
.works {
	background: #F0F2F5;
	padding: 100px 0;
}
.team {
	background: #fff;
	padding: 100px 0;
}
.cafemenu {
	background: #ffc94b;
	display: flex;
}
.gamejournal {
	background-color: #f0f2f5;
}
.newsletter {
	padding: 120px 0;
	background: #fff;
}
.form-inline{
	padding: 0 20px;
}
.form-group{ 
	width: 100%;
	margin-bottom: 20px!important;
}
.footer {
	padding: 20px 0;
	text-align: center;
	color: white;
	font-size: 16px;
	background: #001780;
	line-height: 10vh;
}
.footer span {
	color: #1DD5CA; 
}

/*1200px*/

@media (max-width: 1200px){
	h2 {
		font-size: 35px!important;
	}
	h3 {
		font-size: 28px!important;
	}
	h4 {
		font-size: 24px!important;
	}
	h5 {
		font-size: 18px!important;
	}
	p {
		font-size: 16px!important;
	}
	.about h5{
		margin-bottom: 0;
	}
	.about h2 {
		margin-bottom: 20px;
	}
	.about button{
		padding: 20px 42px;
		font-size: 14px;
	}
	.events h3{
		margin: 30px 0 40px 0;
	}
	.events .card-header .date span{
		font-size: 25px;
		line-height: 30px;
	}
	.events .card-header .date{
		height: 84px;
	    width: 74px;
	}
	.events img{
		height: 170px;
	}
	.quote .text-quote {
		padding: 55px 75px;
	} 
	.works .icon {
		font-size: 40px!important;
	}
}

/*992px*/

@media (max-width: 992px){
	h1 {
		font-size: 58px!important;
	}
	h2 {
		font-size: 30px!important;
	}
	h3 {
		font-size: 28px!important;
	}
	h4 {
		font-size: 24px!important;
	}
	h5 {
		font-size: 20px!important;
	}
	p {
		font-size: 16px!important;
	}
	.topmenu, .button-container{
		display: none;
	}
	.menu{
		display: flex;
	}
	.menu li {
		font-size: 17px;
	}
	.menu button {
		padding: 17px 35px;
	}
	.main .overlay button {
		padding: 18px 38px;
	}
	.about p {
		padding: 0;
	}
	.about img {
		width: 80%;
	    height: 100%;
	    min-height: 550px;
	    margin: 0 0 0 15px;
	    object-fit: cover;
	}
	.about .col-md-6 {
		padding: 0;
	}
	.events .container {
		display: flex;
		padding: 0 0 0 30px;
		flex-direction: row;
	}
	.quote p {
		line-height: 1.5;
	}
	.quote .col-md-8 {
		display: flex;
		align-items: center;
	}
	.quote .text-quote {
		padding: 30px;
	} 
	.works .container {
		display: flex;
		padding: 0 0 0 30px;
		flex-direction: row;
	}
	.team .container {
		display: flex;
		padding: 0 0 0 30px;
		flex-direction: row;
	}
	.team .container {
		padding: 0 0 70px 0;
	}
	.cafemenu {
		display: flex;
	}
	.cafemenu .menu-container {
		padding: 80px 30px;

	}
	.cafemenu .marker {
		margin: -80px -30px;
	}
	.gamejournal .col-md-8 {
		padding: 15px;
	}
	.newsletter .form-check {
		white-space: nowrap;
	}
}

/* 768px */

@media (max-width: 768px) {
	.comp{
		display: none;
	}
	.mobile{
		display: block;
	}
	h1 {
		font-size: 44px!important;
	}
	h2 {
		font-size: 26px!important;
	}
	h3 {
		font-size: 24px!important;
	}
	h4 {
		font-size: 20px!important;
	}
	h5 {
		font-size: 17px!important;
	}
	p {
		font-size: 15px!important;
	}
	/*Сделать кнопку*/
	.menu {
		overflow: hidden;
	}
	.menu .container {
		margin: 0;
	}
	.menu .button-container {
		margin: 0;
	}
	.about {
		padding: 50px 0;
	}
	.about .container {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0;
	} 
	.about img {
		height: 300px;
		min-height: auto;
		object-position: top;
		width: 100%;
		margin: 0;
	}
	.about .col-md-6 {
		max-width: 440px;
		padding: 0;
	}
	.about h5 {
		padding-top: 20px;
	}
	.about button {
		padding: 17px 35px;
	}
	.events {
		padding: 50px 0;
	}
	.events .container {
		padding: 0;
		flex-direction: column;
		align-items: center;
	}
	.events .container .col-md-4{
		max-width: 440px;
		padding: 0;
		margin-bottom: 40px;
	}
	.events h3 {
		margin-top: 0;
	}
	.quote .container {
		display: flex;
		flex-direction: column;
	}	
	.quote img {
		height: 200px;
		object-fit: cover;
		width: 100%;
		margin: 0;
	}
	.works .container {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-width: 40%;
		padding: 0;
	}
	.works .col-md-4 {
		max-width: 440px;
		padding: 0;
	}
	.works h3 {
		padding-bottom: 20px;
	}
	.works h5 {
		padding-top: 20px;
		margin: 0;
	}
	.works p {
		margin: 0;
	}
	.works a {
		padding-top: 0;
		margin-bottom: 20px;
	}
	.team .container {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-bottom: 0;
	}
	.team .col-md-4 {
		max-width: 440px;
		padding: 0;
	}
	.team h3 {
		padding-bottom: 20px;
	}
	.team h4 {
		margin-top: 20px;
		margin-bottom: 0;
	}
	.team h5 {
		margin-top: 10px;
		margin-bottom: 20px;
	}
	.team p {
		margin-bottom: 20px;
	}
	.team .icon {
		margin-bottom: 20px;
	}
	.team .icon button {
		max-width: 40px;
		max-height: 40px;
		border-radius: 10px;
	}
	.cafemenu {
		display: flex;
		flex-direction: column;	
		align-items: center;
	}
	.cafemenu .text {
		display: flex;
		justify-content: center;
	}
	.cafemenu .menu-container{	
		max-width: 440px;
		padding: 50px 0px;
	}
	.cafemenu .marker {
		padding: 10px 20px;
		margin: -50px -30px;
	}
	.cafemenu h3 {
		margin: 0;
	}
	.cafemenu .ourfood-text {
		padding-top: 15px;
		padding-bottom: 20px;
		margin: 0;
	}
	.cafemenu .categories {
		margin-bottom: 0;
		padding-bottom: 20px;
	}
	.cafemenu .categories> li{
		margin-bottom: 10px;
		width: 100%;
	}
	.cafemenu .categories> li .name{
		margin-right: 0;
	}
	.categories> li.active .sub-categories{
		display: block;
	}
	.categories> li.active .sub-categories .ourfood-menu-price{
		margin: 0 0 0 auto;
	}
	.cafemenu h5 {
		margin-top: 15px;
	}
	.cafemenu .ourfood-menu-main {
		margin-bottom: 10px;
	}
	.cafemenu .ourfood-menu-price {
		margin: -20px 0 0;
	}
	.cafemenu img {
		height: 240px;
		object-fit: cover;
		width: 100%;
		margin: 0;
	}
	.gamejournal .container {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0;
	}
	.gamejournal .col-md-8, .text {
		max-width: 440px;
		padding: 0;
	}
	.gamejournal .news-container {
		display: flex;
		flex-direction: column;
		padding: 0;
	}
	.gamejournal .news-container .col-md-6{
	    min-width: 100%;
	}
	.gamejournal .col-md-4{
		min-width: 100%;
	}
	.gamejournal h2 {
		padding-top: 50px;
		padding-bottom: 20px;
		margin: 0;
	}
	.gamejournal .news-header {
		padding: 0;
	}
	.gamejournal .icon {
		margin-bottom: 15px;
	}
	.gamejournal p {
		margin: 0;
		padding-right: 0;
		padding-bottom: 10px;
	}
	.gamejournal .continue {
		padding-bottom: 60px;
	}
	.gamejournal .continue a::after {		
		bottom: 45px;	
	}
	.gamejournal .facebook-follow {
		padding: 50px 0;
	}
	/*Почему блок не уменьшается?*/
	.newsletter {
		display: flex;
		padding: 50px calc((100% - 440px)/2);
		align-items: center; /*Почему его прибило влево?*/
		justify-content: center; /*Почему его прибило влево?*/
	}
	.newsletter .container {
		padding: 25px;
		flex-direction: column;

	}
	.newsletter .form-inline {
		padding: 0;
		padding-bottom: 10px;
	}
	.newsletter .form-control {
		max-height: 50px;
	}
	.newsletter h2 {
		padding-bottom: 10px;
	}
	.newsletter button {
		max-height: 50px;
		font-size: 14px;
	}
	.footer {
		padding: 0;
		font-size: 15px;
	}
}
/* 576px */

@media (max-width: 576px) {
	h1 {
		font-size: 33px!important;
	}
	h2 {
		font-size: 26px!important;
	}
	h3 {
		font-size: 24px!important; 
	}
	h4 {
		font-size: 20px!important; 
	}
	h5 {
		font-size: 18px!important; 
	}
	p {
		font-size: 15px!important; 
	}
	.carousel a{
		display: none;
	}
	.menu {
		overflow: hidden;
	}
	.about img {
		height: 240px;
	}
	.about .text{
		padding: 0 20px;
	}
	.about p:nth-child(4) {
		margin-bottom: 20px;
	}
	.events{
		padding: 50px 20px;
	}
	.events h3 {
		margin-bottom: 20px;
	}
	.events .card .body {
    	padding: 20px;
	}
	.quote .text-quote {
		padding: 25px;
	}
	.quote img {
		height: 170px;
	}
	.works{
		padding: 100px 20px;
	}
	.works a::after{
		padding-top: 0;
		margin-bottom: 10px;
	}
	.team{
		padding: 100px 20px;
	}
	.cafemenu .marker {
		height: 36px;
		margin: -30px 0;
	}
	.cafemenu .menu-container {
		padding: 30px 20px;
	}
	.cafemenu .categories> li {
		margin-right: 0;
	}
	.card .card-header img {
		height: 247px!important;
	}
	.card .icon {
		margin: 0;
	}
	.gamejournal h2{
		padding-left: 20px;
	}
	.news-container{
		padding: 0 20px!important;
	}
	.news-container .col-md-6{
		padding: 0;
	}
	.newsletter .container{
		padding: 20px;
	}
	.form-check{
		padding: 0;
	}
}

/*320px*/

@media (max-width: 320px) {
	h1 {
		font-size: 20px!important;
	}
	h2 {
		font-size: 28px!important;
	}
	h3 {
		font-size: 26px!important; 
	}
	h4 {
		font-size: 20px!important; 
	}
	h5 {
		font-size: 18px!important; 
	}
	p {
		font-size: 15px!important; 
	}
	.about img {
		height: 224px;
		max-width: 280px;
	}
	.about .col-md-6.text {
		max-width: 280px;
	}
	.events {
		padding-bottom: 30px;
	}
	.events .container {
		display: flex;
		flex-direction: column;
	}
	.events .col-md-4 {
		padding-bottom: 20px;
	}
	.quote .col-md-8 {
		padding: 0;
	}
	.quote h5 {
		margin: 0;
	}
	.works .col-md-4 {
		max-width: 280px;
	}
	.works img {
		height: 232px;
	}
	.team .col-md-4 {
		max-width: 280px;
	}
	.team h5 {
		margin: 5px 0 10px;
	}
	.team p {
		margin-bottom: 10px;
	}
	.team .icon button {
		height: 36px;
		max-width: 36px;
	}
	.team .icon button i {
		font-size: 20px;
	}
	.cafemenu .text {
		max-width: 280px;
	}
	.gamejournal .col-md-8 {
		max-width: 280px;
	}
	.gamejournal .icon p {
		padding-bottom: 5px;
	}
	.newsletter .email-container {
		max-width: 280px;
	}
	.footer {
		padding: 15px;
		line-height: 20px;
	}
}
	

